
/* font styles */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-variation-settings: "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: 0 auto;
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo {
  padding-left: 16px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 34px;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
}
nav ul li a {
  text-decoration: none;
    color: rgba(0, 0, 0, 0.937);

}

/* banner section */
.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 100px 0px 0px;

  width: 100%;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 5px;
  padding-left: 5px;
  width: 50%;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
.banner-title span {
  color: rgba(233, 90, 8, 1);
}
.banner-title {
  font-size: 3em;
}
.banner-subtitle {
  font-size: 1.375em;
  color: rgba(0, 0, 0, 0.5);
}
/* plants-section */
.plants-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;

  padding: 20px;
 
}
.plants-title {
  font-size: 3em;
}
.plants-title span {
  color: rgba(233, 90, 8, 1);
}
.plants-subtitle {
  max-width: 700px;
  color: rgba(0, 0, 0, 0.5);
}
.plants-content{
  padding:50px;
}
.plants-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    
    gap: 10px;
}
.plants-card{
  width: 100%;
}

.plants-card img{
    width: 100%;
    height: auto;
    object-fit: contain;
} 
.plants-description{
    font-size: 1.375em;
}
.flower-price{
    font-weight: bold;
}
.add-cart-btn{
    width: 100%;
    font-weight: 600px;
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    padding: 19px 80px;
    border: none;
}


/* plants lover section */
.p-lover-section{margin: 210px auto;
 display: flex;
 gap: 60px;
 justify-content: center;
 align-items: center;
}
.p-lover-left{
  position: relative;
  display: block;
  padding: 0px 20px;
}
.shop-image{

  position:relative;
  display: block;
  object-fit: cover;
}
.badge{
  width:100% ;
  max-width:286px;
    
  position: absolute;
  top: -110px;
  right: -150px;
  width: 286px;  
  height: auto;

}
.p-lover-right{
  padding:38px 20px 0px 0px;
}
.p-lover-title{
  font-size: 3em;
  font-weight: bold;
}
.p-lover-content{
  font-size: 1.25em;
}
/* join section */

.join-section {
  width: 100%;
  min-height: 533px;
  background-image: url('./assets/news-letter-bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}


.join-content {
  text-align: center;
  color: white;
  max-width: 700px;
  width: 100%;
}


.join-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
}


.input-section {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}


.email-input {
  flex: 1;
  padding: 15px;
  border: none;
  font-size: 16px;
  outline: none;
}


.subscribe-button {
  background-color: #f25c05;
  color: white;
  padding: 0 25px;
  border: none;
  font-size: 1em;
  cursor: pointer;
 
}

.subscribe-button:hover {
  background-color: #d94d00;
}






/* footer styles */
footer{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px; 
}
.footer-1{
  height: 179px;
  width:359px;
}
.footer-text{
  color:rgba(0, 0, 0, 0.5);
}
.footer-2 ul {
  list-style: none;
}
.footer-2 ul li a{
  text-decoration: none;
   color:rgba(0, 0, 0, 0.5)
}
.footer-3{
  display: flex;
  gap: 24px;
}
.footer-logo{
  height: 36px;
  width: 36px;
  object-fit: contain;
}
.footer-2{
  padding-bottom: 40px ;
}
.footer-2 ul{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 36px;
}


/* responsive for mobile */
@media screen and (max-width: 576px) {
  .hidden {
    display: none;
  }
  .banner-container {
    width: 100%;
    flex-direction: column-reverse;
    gap: 28px;
  }
  .banner-content {
    width: 100%;
    padding: 0px 16px;
  }
  .banner-image {
    width: 100%;
  }
  .banner-title {
    font-size: 1.5em;
  }
  .banner-subtitle {
    font-size: 0.875em;
  }

 .plants-card-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.plants-description{
    font-size: 1em;
    padding: 5px;
}
.add-cart-btn{
  padding: 19px 30px;

}
.badge{
  display: none;
}

.p-lover-content{
  font-size: 1.25em;
}

.p-lover-right{
  width: 50%;
}
footer{
  flex-direction: column;
}
.footer-2 ul{

  grid-template-columns:repeat(1, 1fr);
 
}
}

/* responsive for tab */

@media screen and (min-width: 576px) and (max-width: 910px) {
  .banner-title {
    font-size: 2.5em;
  }
  .banner-subtitle {
    font-size: 0.875em;
  }
.plants-card-container{
       grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);   
    
}
.p-lover-content{
  font-size: 1em;
}
.p-lover-section{
  flex-direction: column;
 
}
footer{
  flex-direction: column;
}
.footer-2 ul{

  grid-template-columns:repeat(4, 1fr);
 
}
}


@media screen and (min-width: 910px) and (max-width: 1140px){
    
.plants-card-container{
       grid-template-columns: repeat(3, 1fr);     
}
.p-lover-title{
  font-size: 2.5em;
  font-weight: bold;
}
.p-lover-content{
  font-size: 1em;
}

}
